/* Open Props */
@import "https://unpkg.com/open-props";

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap');





/* CSS Variables */
:root {
    /* main UI color */
    --plyr-color-main: #EA6D72;
    /* audio controls background */
    --plyr-audio-controls-background:#FAEBE4;
    /* audio controls color */
    --plyr-audio-control-color: #62688C;
    
    --plyr-audio-control-color-hover:#FAEBE4;
    
    --plyr-audio-progress-buffered-background: #D9D9D9;
    
    --plyr-audio-range-track-background: #FFAA80;
    
    --plyr-font-family: sans-serif;
    --plyr-font-size-time: 14px;
    
    --plyr-tooltip-background: white;
    --plyr-tooltip-color: black; 
    
    --plyr-control-icon-size: 16px;
}

/* Layout */
body {
    background: var(--gradient-15);
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}

main {
    /* Fixed width center align */
    max-width: 60em;
    margin-inline: auto;
   
    
    /* background: red; */
}

main img {
    /* Fit image to container */
    max-width: 100%;
    display: block;
}

main h1 {
	font-family: "Poppins", sans-serif;
	font-size: 10rem;
	text-align: center;
	color: #ffffff6b;
	text-transform: uppercase;
	
	margin: 20px 0px 0px 0px;
	padding: 20px;
	line-height: 80px;
}

main h2 {
    font-family: "Poppins", sans-serif;
    font-size: 1.5rem;
	text-align: center;
	text-transform: uppercase;
	color: white;
	
	line-height: 10px;
    letter-spacing: 5px;
	margin: 20px 0px 20px 0px;
	
}

article {
    /* flow content horizontally */
    display: flex;
    gap: 1em;
    justify-content: center;

    background: #FAEBE46B;
    margin: 10px 0px 20px 0px;
}

article section {
    /* Keep flex'd child same width */
    flex: 1;
}

article p {
    font-family: "Poppins", sans-serif;
    color: #62688C;
    font-size: 1rem;

   
}

section {
    padding: 1em;
    /* max-width: 50%; */
}

.form {
    color: #014352;
    margin-top: 40px;
}

footer {
    text-align: center;
    font-size: 1.5rem;
}

footer a:link,
footer a:visited {
    color: #EA6D72;
    text-decoration: none;
}

footer a:hover,
footer a:active {
    color: #014352;
}

/* Media Queries */
@media (max-width: 40em) {
    main article {
        flex-direction: column;
        align-items: center;
    }
}